@{
    ViewBag.Title = "Home Page";
}

<div class="row" style="padding-top: 10px">

    <div class="card cardDadosGerais">
        <div class="card-header card-header-closable">
            <h2><i class="far fa-id-card"></i> Dados Gerais</h2>
            <ul class="actions">
                <li>
                    <a href="" tabindex="-1" class="card-header-caret" style="color: black;">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </li>
            </ul>
        </div>

        <div class="card-body card-padding">
            <div class="row">
                <div class="col-md-4">
                    <div class="pmo-pic">
                        <div class="p-relative">
                            <div class="foto" style="background-image: url('../Imagens/perfil.png')"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="row"><div class="col-md-12"><h2>Edenilson Krüger</h2></div></div>
                    <div class="row"><div class="col-md-12">Brasileiro, Casado, 33 anos</div></div>
                    <div class="row"><div class="col-md-12" style="padding-top: 5px; padding-bottom: 5px;">Joinville, Santa Catarina, Brasil</div></div>
                    <div class="row"><div class="col-md-12">Telefone: (47) 99704-6657 / E-mail: edenilsonkruger@hotmail.com</div></div>
                </div>
            </div>
        </div>
    </div>

    <div class="card cardResumo">
        <div class="card-header card-header-closable">
            <h2><i class="fa fa-list"></i> Resumo</h2>
            <ul class="actions">
                <li>
                    <a href="" tabindex="-1" class="card-header-caret" style="color: black;">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </li>
            </ul>
        </div>

        <div class="card-body card-padding">
            <div class="row">
                <div class="col-md-12">
                    <ul>
                        <li>Profissional com experiência em Desenvolvimento de Sistemas desde 2010.</li>
                        <li style="padding-top: 5px;">Sou Graduado em Sistemas de Informação.</li>
                        <li style="padding-top: 5px;">Experiência com C#, .NET, VB, ASP Clássico, Windows Forms, Web Forms, ASP.NET, Javascript, Entity Framework, WebApis com tecnologias Soap e Rest e ASP.NET Core.</li>
                        <li style="padding-top: 5px;">Experiência com arquitetura de sistemas TDD, MVC e 3 camadas + camada DTO.</li>
                        <li style="padding-top: 5px;">Experiência com repositórios GIT, SVN, TFS.</li>
                        <li style="padding-top: 5px;">Experiência com bancos de dados SQL Server, Oracle, MySql e PostgreSql.</li>
                        <li style="padding-top: 5px;">Experiência com framework Bootstrap.</li>
                        <li style="padding-top: 5px;">Sou um programador full-stack, já criei vários tipos de projetos como exemplo PAF/ECF, Controle de Estoque entre outros.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="card cardFormacao">
        <div class="card-header card-header-closable">
            <h2><i class="fa fa-graduation-cap"></i> Formação</h2>
            <ul class="actions">
                <li>
                    <a href="" tabindex="-1" class="card-header-caret" style="color: black;">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </li>
            </ul>
        </div>

        <div class="card-body card-padding">
            <div class="row">
                <div class="col-md-12">
                    <ul>
                        <li>SISTEMA DE INFORMAÇÃO. UNIVERSIDADE DA REGIÃO DE JOINVILLE – UNIVILLE, CONCLÚIDO.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="card cardExperienciaProfissional">
        <div class="card-header card-header-closable">
            <h2><i class="fa fa-briefcase"></i> Experiência Profissional</h2>
            <ul class="actions">
                <li>
                    <a href="" tabindex="-1" class="card-header-caret" style="color: black;">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </li>
            </ul>
        </div>

        <div class="card-body card-padding">
            <div class="row">
                <div class="col-md-12">
                    <ul>
                        <li>
                            <div style="font-weight:bold">10/06/2019 – 03/10/2022 – SANT'ANA & KRUGER DESENVOLVIMENTO E CONSULTORIA DE SISTEMAS.</div>
                            Prestador de serviço na Caez Software Ltda - Desenvolvimento ERP em VB.Net, Javascript, SQL Server e Bootstrap.
                        </li>

                        <li style="padding-top: 5px;">
                            <div style="font-weight:bold">09/09/2019 – 17/07/2020 – Becomex Consultoria Ldta.</div>
                            Desenvolvimento C#, ASP.NET Core, Web Forms, Windows Forms, TDD e Oracle/SQL Server/PostgreSql.
                        </li>

                        <li style="padding-top: 5px;">
                            <div style="font-weight:bold">25/06/2018 – 02/09/2019 – By Seven Consultoria em Tecnologia da Informática Ltda.</div>
                            Desenvolvimento C#, ASP.NET Core, Web Forms, Windows Forms, TDD e Oracle/SQL Server/PostgreSql.
                        </li>

                        <li style="padding-top: 5px;">
                            <div style="font-weight:bold">02/05/2017 – 20/06/2018 – BRCondos Franchising S/A.</div>
                            Desenvolvimento ERP C#, MVC, Javascript e SQL Server.
                        </li>

                        <li style="padding-top: 5px;">
                            <div style="font-weight:bold">02/12/2013 – 30/04/2017 – Caez Software Ltda.</div>
                            Desenvolvimento ERP C#, Web Forms, Javascript, SQL Server e Bootstrap.
                        </li>

                        <li style="padding-top: 5px;">
                            <div style="font-weight:bold">02/09/2013 – 30/11/2013 – Faculdade Cenecista de Joinville.</div>
                            Desenvolvimento em PHP.
                        </li>

                        <li style="padding-top: 5px;">
                            <div style="font-weight:bold">16/11/2010 - 23/03/2013 – Argos Tecnologia em Informática.</div>
                            Desenvolvimento em Genexus e PowerBuilder.
                        </li>

                        <li style="padding-top: 5px;">
                            <div style="font-weight:bold">01/08/2008 - 09/11/2010 – Lojas Salfer S.A.</div>
                            Técnico Infraestrutura de TI.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>

<script type="text/javascript">
    $(document).ready(function () {

        $(".card-header-closable, .card-header-caret").click(function (e) {
            e.preventDefault();
            e.stopPropagation();

            var body = $(this).closest(".card").find(".card-body:first");

            if (body[0]) {
                var button = $(this).find(".card-header-caret").find("svg")

                if ($(this).hasClass("card-header-caret")) {
                    button = $(this).find("svg");
                }

                var action;
                if (body[0]) {
                    action = body.css("display") == "none" ? "open" : "close";
                }

                if (action == "close") {
                    if (body[0]) {
                        body.hide();
                    }
                    button.attr('data-icon', 'chevron-down');
                } else {
                    if (body[0]) {
                        body.show();
                    }
                    button.attr('data-icon', 'chevron-up');
                }
            }
        });

    });
</script>